a:link {
	text-decoration: none !important;
	cursor: pointer;
	color: rgb(53, 26, 78);
}

body {
	padding: 30px;
	font-weight: bold;
}

h1 {
	color: black;
	opacity: 0.5;
}
div {
	padding: 18px;
	text-align: left;
	font-style: oblique;
	color: rgb(53, 26, 78);
	width: 300px;
	display: block;
	background-color: rgb(247, 224, 224);
	font-size: larger;
	margin: 12px;
}
.subtitulos {
	font-size: medium;
	margin: 30px;
}
